<%
var s1='', s2='', s3='', s4='', s5='';
switch(quiz.tematica) {
    case 'otro':
        s1 = 'selected';
        break;
    case 'humanidades':
        s2 = 'selected';
        break;
    case 'ocio':
        s3 = 'selected';
        break;
    case 'ciencia':
        s4 = 'selected';
        break;
    case 'tecnologia':
        s5 = 'selected';
        break;
    default:
	s1 = 'selected';
}
%>	

	
	<table width='100%'>	
		<tr><td width='50%' align='right'><label for="preg" class="rem">Pregunta: </label></td>
		    <td width='50%' align='left'><input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/></td>
		</tr>
		<tr><td width='50%' align='right'><label for="resp" class="rem">Respuesta: </label></td>
		    <td width='50%' align='left'><input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/></td>
		</tr>
		<tr><td width='50%' align='right'><label for="resp" class="rem">Temática: </label></td>
		    <td width='50%' align='left'><select name="quiz[tematica]">
		      <option value="otro" <%=s1%>>Otro</option>
		      <option value="humanidades" <%=s2%>>Humanidades</option>
		      <option value="ocio"<%=s3%>>Ocio</option>
		      <option value="ciencia" <%=s4%>>Ciencia</option>
		      <option value="tecnologia" <%=s5%>>Tecnología</option>
		    </select></td>
		</tr>
	</table>
	<br>
	<a href="/quizes"><button type="button">Cancelar</button></a>
	<input type="submit" value="Salvar">
